lib/countly.min.js
lib/countly.pack.js
plugin
examples
test
node_modules
coverage
.vscode
.github
cypress/fixtures
cypress/plugins
cypress/support
cypress/.eslintrc.js
.gitignore
bower.json
CHANGELOG.md
cypress.json
generateDocs.sh
inch.json
jsdoc_conf.json
LICENSE
webpack.config.js