:root {
    --tag-size: 12px;
    --tag-height: 2px;
    --tag-width: 80%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    padding: 20px;
}

#form-div {
    display: none;
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#form-container {
    display: block;
    padding: 1em;
    width:  30%;
    position: fixed;
    left: 35%;
    top: 0%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2% 2% 2% 2%;
}

#id-input {
    border: 0.5px solid #adadad;
    width: 90%;
}

#id-input:focus-within {
    border: 3px solid  #5185f6;
    outline-color: #5185f6;
}

#accept-btn {
    background-color: #3573ea;
    border-radius: 10% 10% 10% 10%;
    border-color: white;
    color: white;
    padding: 10px 25px 10px 25px;
    opacity: 1;
    width: 80px;
    position: relative;
    right: 6px;
}

#cancel-btn {
    background-color: white;
    border-radius: 10% 10% 10% 10%;
    border: 0.5px solid #adadad;
    color: #3573ea;
    padding: 10px 20px 10px 20px;
    opacity: 1;
    width: 80px;
}

#check-box {
    display: flex;
    align-items: center;
    padding: 12px 0px 0px 0px;
}

#accept-btn:hover {
opacity: 0.8;
}

#cancel-btn:hover {
    background-color:#ecf3fd;
}

#form-btn {
    display: flex;
    float: right;

}

#mormons {
    display: none;
}

#header p {
    padding: 20px;
    cursor: pointer;
    z-index: 100000;
    width: 100%;
    height: 100px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #cff96b;
}

#buttons {
    display: grid;
    justify-items: center;
    grid-gap: 12px;
}

#new-ratings {
    width: max-content;
    border: 1px solid #AC777F;
    padding:0.5rem;
}        
#galactic-conquest {
    display: flex;
    gap: 5px;
    align-items: stretch;
    flex-wrap: wrap;
} 

#old-ratings {
    width: 80%;
    border: 1px solid #AC777F;
    padding:0.5rem;
    width: max-content;
}      


#miscellaneous-buttons {
    width: 80%;
    border: 1px solid #AC777F;
    padding:0.5rem;
    width: max-content;
}      

.mormon-father {
background-color: #AC777F;
border: none;
color: white;
padding: 5px;
font-size: 19px;
cursor: pointer;
}

.mormon-father:hover {
background-color: #755056;
}

input {
    padding: 8px;
    font-size: 15px;
}

@media only screen and (max-width: 900px) {
    body {
        background-color: grey;
    }
}