.link {
  text-decoration: none;
  padding: 20px;
  color: #000;
}

.contact {
  text-align: center;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cff96b;
}

.email-us {
  padding: 20px;
  font-size: 20px;
  background-color: #cff96b;
  border: none;
  border-radius: 2px;
}
