# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Cypress tests

on:
  push:
    branches: [master, staging]
  pull_request:
    branches: [master, staging]

jobs:
  build-and-test:
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Run tests
        run: npm test
